  * {
    margin: 0;
    padding: 0;
  }

  .cabecalho{
    padding: 15px 25px;
    display: flex;
    justify-content:  space-between;
    align-items:  center;
    background-color: #272933;
  }

  .cartao{
    height: 260px; 
    width: 200px; 
  }

  .cartao-imagem {
    width: 100%;
  }

   body  {
        display: flex;
        flex-direction: column;
        min-width:  100vh;
        background-color:#ff0000 ;
    
      }

     main{
        flex: 1;
    }

    .cabecalho-link{
        color:#0026ff ;  
        text-decoration: nome ;
      } 
    h1{
       color: #fff;
       font-size: 24px;
    }

    footer{ 
        background-color: #ff0000;
        padding: 15px 25px;
        color: #fff;  
  }

  .cartao-interno{
      position: relative;  
  }

  .cartao-fremte, .cartao-verso{
   position: absolute;
  }
    
